/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style.css ***!
  \************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Orbitron&family=Urbanist:wght@300;400;700&display=swap);
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/style.css (1) ***!
  \****************************************************************************/
:root {
  --clear-grad: linear-gradient(to top right, #589dc3 25%, #a4cdde); /* aquamarine */
  --cloudy-grad: linear-gradient(to top right, #49392c 25%, #9c8d8d);
  --rain-grad: linear-gradient(to top right, #b54d31 25%, #e8c32c);
  --snow-grad: linear-gradient(to top right, #bb7c5d 0%, #f3f3f6);
  --drizzle-grad: linear-gradient(to top right, #5f3133 25%, #aaa6a7);
  --thunderstorm-grad: linear-gradient(to top right, #914c28 25%, #ca7833);
  --atmosphere-grad: linear-gradient(to top right, #553807 20%, #fed46e);
  --dark-grad: radial-gradient(farthest-side, #070707 0%, #af4d06 100%);
}

.container {
  background-image: var(--dark-grad);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  height: 100vh;
}

.holding-box {
  box-shadow: 0 0.5rem 1rem 0.8rem #30475e26;
  background-color: #ffffff;
  height: 48rem;
  width: 60rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.divider-bot {
  width: 80%;
  height: 0.1rem;
  background-image: var(--dark-grad);
  margin: 0 auto;
}

.divider-top {
  height: 75%;
  width: 0.1rem;
  background-image: var(--dark-grad);
  margin: auto 0;
}

/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/reset.css ***!
  \************************************************************************/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/weather.css ***!
  \**************************************************************************/
.weather-info {
  display: flex;
}

.img-holder {
  margin: 3rem 0 3rem 2rem;
  display: flex;
}

.img-holder > img {
  width: 475px;
  height: 475px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: 0% 50%;
}

.info-holder {
  display: flex;
  width: 30rem;
}

.info-holder img {
  filter: hue-rotate(180deg) saturate(700%) grayscale(30%);
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0.5rem;
  width: 13rem;
}

.top-info > div {
  margin: 1rem 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather > img {
  height: 75px;
  width: 75px;
}

.weather > p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.temp-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp-main > p {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.temp-main > img {
  width: 40px;
  height: 40px;
}

.temp-variance {
  display: flex;
  justify-content: space-between;
}

.temp-variance > div {
  display: flex;
}

.temp-variance > div:first-child {
  margin-left: 0.5rem;
}
.temp-variance > div:last-child {
  margin-right: 0.5rem;
}

.temp-variance > div > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.temp-high > img {
  transform: rotate(180deg);
}

.temp-variance > div > p {
  font-size: 1.2rem;
  white-space: nowrap;
}

/* Bottom of Weather Info*/
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bottom-info > div {
  display: flex;
}

.bottom-info > div > div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.bottom-info > div > div img {
  width: 50px;
  height: 50px;
}

.bottom-info > div > div:nth-child(2) {
  margin: auto;
  width: 6rem;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(2) {
  font-size: 1.35rem;
  text-align: center;
  margin: 0 1rem;
  white-space: nowrap;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(1) {
  text-align: center;
  margin: 0.5rem 0;
}

.bottom-info > div > div:first-child {
  margin-right: 1rem;
}

@media only screen and (max-width: 1050px), only screen and (max-height: 850px) {
  .holding-box {
    width: 80%;
    height: 100%;
  }

  .container {
    padding: 5rem 0;
    height: auto;
  }
  .weather {
    width: 11.75rem;
  }

  .weather-info {
    flex-direction: column;
  }

  .img-holder {
    width: 80%;
    height: 80%;
    margin: 3rem auto 2rem;
  }

  .img-holder > img {
    width: 100%;
    height: 100%;
  }

  .temp {
    width: auto;
  }

  .temp-variance > div {
    margin: 1rem 0;
    width: auto;
  }

  .temp-variance > div:first-child {
    margin-left: 0;
  }

  .temp-variance > div:last-child {
    margin-right: 0;
  }

  .temp-variance > div > p {
    width: 3rem;
  }

  .temp-variance > div > p:first-child {
    margin: auto 0 auto 1rem;
    text-align: end;
  }

  .temp-variance > div > p:last-child {
    margin: auto 1rem auto 0;
  }

  .info-holder {
    flex-direction: column;
    width: auto;
  }

  .temp-main {
    margin-top: 2rem;
  }

  .top-info {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin: auto 2rem;
  }

  .top-info > div {
    margin: 0;
  }

  .bottom-info {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 12%;
  }

  .bottom-info > div {
    flex: 50%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  .divider-top,
  .divider-bot {
    width: 80%;
    height: 0.1rem;
    margin: 2rem auto;
  }

  .weather > p {
    white-space: nowrap;
  }

  .bottom-info > div > div:nth-child(2) {
    margin: 0;
  }

  @media only screen and (max-width: 670px) {
    .top-info {
      flex-direction: column;
    }
    .top-info > div {
      margin: 0.5rem auto;
    }

    .bottom-info {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 320px) {
    .container {
      width: 20rem;
      padding: 3rem;
    }
    .holding-box {
      width: 20rem;
    }
  }
}

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/location.css ***!
  \***************************************************************************/
.location-info {
  display: flex;
  justify-content: space-between;
  margin: auto 3rem;
  gap: 3rem;
}

.location-holder {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
}

.location img {
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.location > p {
  font-size: 1.8rem;
  margin: 1rem 0 1rem 1rem;
  width: 400px;
}

.date > p,
.time > p {
  margin: 0.25rem 0;
}

.search-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-box {
  width: clamp(10rem, 33vw, 20rem);
  position: relative;
}

.search-box > input {
  border-radius: 0.2rem;
  border: 1px solid gray;
}

#search {
  width: calc(100% - 1rem - 2px);
  height: 2.2rem;
  margin: auto;
  padding-left: 1rem;
  box-shadow: 0 0 2px black;
  font-size: 1.25rem;
}

#search:focus {
  box-shadow: 0 0 4px black;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.toggles > div {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 10rem;
}

.toggles label {
  font-size: 1.2rem;
  text-align: center;
}

.toggles input {
  -webkit-appearance: none;
  outline: none;
  width: 40px;
  height: 17px;
  background-color: rgb(0, 0, 0);
  border-radius: 2rem;
  position: relative;
  background-image: var(--dark-grad);
  box-shadow: 0px 0px 3px 0.5px gray;
  cursor: pointer;
}

.toggles input:before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  left: 3px;
  top: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  transition: transform 150ms;
}

.toggles input:checked {
  background-color: rgb(0, 0, 0);
}

.toggles input:checked:before {
  transform: translate(calc(100% + 8px));
}

.speed-toggle {
  margin: 0 auto;
}

.search-results {
  display: none;
  position: absolute;
  width: clamp(10rem, 33vw, 20rem);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  max-height: 8rem;
  overflow: auto;
  box-shadow: 0 0 2px black;
  scrollbar-width: none;
  outline: 1px solid gray;
  border-radius: 0.2rem;
}

.search-results::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.search-results > p {
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 0.7rem 1rem;
  font-size: 1.05rem;
  border-bottom: 1px solid gray;
}

.search-results > p:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}

.search-results > p:active {
  background-color: rgb(160, 160, 160);
}

@media only screen and (max-width: 1050px), only screen and (max-height: 850px) {
  .location-info {
    margin-bottom: 3rem;
  }

  .location > p {
    width: auto;
  }

  .location-holder > div:first-child {
    margin-bottom: 0.8rem;
  }
  .location > p {
    font-size: 1.8rem;
  }

  .location > img {
    height: 40px;
    width: 40px;
  }

  .toggles {
    flex-direction: column;
  }

  .toggles > div {
    margin: 0.5rem 0;
  }

  .speed-toggle {
    margin: 0;
  }

  .search-box {
    width: 13rem;
  }

  .search-results {
    width: 13rem;
  }
}

@media only screen and (max-width: 670px) {
  .location-info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .location > p {
    font-size: 1.8rem;
  }
}

/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/main.css ***!
  \***********************************************************************/


