@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Orbitron&family=Urbanist:wght@300;400;700&display=swap");

:root {
  --clear-grad: linear-gradient(to top right, #85cdd8 25%, #d1d9d9); /* aquamarine */
  --cloudy-grad: linear-gradient(to top right, #597e93 25%, #698181);
  --rain-grad: linear-gradient(to top right, #5b8288 25%, #95bfbf);
  --snow-grad: linear-gradient(to top right, #819b9a 25%, #e1e1e1);
  --drizzle-grad: linear-gradient(to top right, #8893a6 25%, #a6b3c2);
  --thunderstorm-grad: linear-gradient(to top right, #596073 25%, #a3aed4);
  --atmosphere-grad: linear-gradient(to top right, #545959 25%, #a5b8c1);
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: var(--rain-grad);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Urbanist", sans-serif;
}

.holding-box {
  box-shadow: 0 0.5rem 1rem 0.8rem #30475e26;
  background-color: #ffffff;
  height: 48rem;
  width: 60rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
