.weather-info {
  display: flex;
}

.img-holder {
  margin: 3rem 0 3rem 2rem;
  display: flex;
}

.img-holder > img {
  width: 475px;
  height: 475px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: 0% 50%;
}

.info-holder {
  display: flex;
  width: 30rem;
}

.info-holder img {
  filter: hue-rotate(180deg) saturate(700%) grayscale(30%);
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0.5rem;
  width: 13rem;
}

.top-info > div {
  margin: 1rem 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather > img {
  height: 75px;
  width: 75px;
}

.weather > p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.temp-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp-main > p {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.temp-main > img {
  width: 40px;
  height: 40px;
}

.temp-variance {
  display: flex;
  justify-content: space-between;
}

.temp-variance > div {
  display: flex;
}

.temp-variance > div:first-child {
  margin-left: 0.5rem;
}
.temp-variance > div:last-child {
  margin-right: 0.5rem;
}

.temp-variance > div > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.temp-high > img {
  transform: rotate(180deg);
}

.temp-variance > div > p {
  font-size: 1.2rem;
  white-space: nowrap;
}

/* Bottom of Weather Info*/
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bottom-info > div {
  display: flex;
}

.bottom-info > div > div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.bottom-info > div > div img {
  width: 50px;
  height: 50px;
}

.bottom-info > div > div:nth-child(2) {
  margin: auto;
  width: 6rem;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(2) {
  font-size: 1.35rem;
  text-align: center;
  margin: 0 1rem;
  white-space: nowrap;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(1) {
  text-align: center;
  margin: 0.5rem 0;
}

.bottom-info > div > div:first-child {
  margin-right: 1rem;
}

@media only screen and (max-width: 1050px), only screen and (max-height: 850px) {
  .holding-box {
    width: 80%;
    height: 100%;
  }

  .container {
    padding: 5rem 0;
    height: auto;
  }
  .weather {
    width: 11.75rem;
  }

  .weather-info {
    flex-direction: column;
  }

  .img-holder {
    width: 80%;
    height: 80%;
    margin: 3rem auto 2rem;
  }

  .img-holder > img {
    width: 100%;
    height: 100%;
  }

  .temp {
    width: auto;
  }

  .temp-variance > div {
    margin: 1rem 0;
    width: auto;
  }

  .temp-variance > div:first-child {
    margin-left: 0;
  }

  .temp-variance > div:last-child {
    margin-right: 0;
  }

  .temp-variance > div > p {
    width: 3rem;
  }

  .temp-variance > div > p:first-child {
    margin: auto 0 auto 1rem;
    text-align: end;
  }

  .temp-variance > div > p:last-child {
    margin: auto 1rem auto 0;
  }

  .info-holder {
    flex-direction: column;
    width: auto;
  }

  .temp-main {
    margin-top: 2rem;
  }

  .top-info {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin: auto 2rem;
  }

  .top-info > div {
    margin: 0;
  }

  .bottom-info {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 12%;
  }

  .bottom-info > div {
    flex: 50%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  .divider-top,
  .divider-bot {
    width: 80%;
    height: 0.1rem;
    margin: 2rem auto;
  }

  .weather > p {
    white-space: nowrap;
  }

  .bottom-info > div > div:nth-child(2) {
    margin: 0;
  }

  @media only screen and (max-width: 670px) {
    .top-info {
      flex-direction: column;
    }
    .top-info > div {
      margin: 0.5rem auto;
    }

    .bottom-info {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 320px) {
    .container {
      width: 20rem;
      padding: 3rem;
    }
    .holding-box {
      width: 20rem;
    }
  }
}
