.weather-info {
  display: flex;
}

.img-holder {
  margin: 3rem 0 2rem 3rem;
  display: flex;
  width: 475px;
  height: 475px;
}

.img-holder > img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: 50% 50%; /* Change based on image */
}

.info-holder {
  display: flex;
  margin: 0 auto;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-info > div {
  margin: 1rem 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather > img {
  height: 75px;
  width: 75px;
}

.weather > p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.temp-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp-main > p {
  font-size: 2rem;
  margin: 0 0.5rem;
}

.temp-main > img {
  width: 40px;
  height: 40px;
}

.temp-variance {
  display: flex;
}

.temp-variance > div {
  display: flex;
  margin: 0 1rem;
}

.temp-variance > div > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

.temp-high > img {
  transform: rotate(180deg);
}

.temp-variance > div > p {
  font-size: 1.2rem;
}

/* Bottom of Weather Info*/
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
}

.bottom-info > div {
  display: flex;
}

.bottom-info > div > div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.bottom-info > div > div img {
  width: 50px;
  height: 50px;
}

.bottom-info > div > div:nth-child(2) {
  margin: auto;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(2) {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.bottom-info > div > div:nth-child(2) > p:nth-child(1) {
  text-align: center;
  margin: 0.5rem 0;
}

.bottom-info > div > div:first-child {
  margin-right: 1rem;
}
